body {
  background-color: #8b47f8;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-top: 10%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}